:root {
  --primary-color: rgb(240, 240, 240);
  --secondary-color: "yellow";
  --black: "black";
}
.bg-green {
  background: var(--primary-color);
}
.light {
  background-color: white;
  color: rgb(0, 0, 0);
}

.dark {
  background-color: #232323;
  color: white;
}
.company-logo {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.circle {
  border-radius: 50%;
}
.burger {
  display: none;
}
.circle-button {
  /* background-color: rgb(0, 85, 255); */
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  font-weight: 900;
}

.borderless {
  border: none;
  outline: none;
}
.small-input {
  width: 50px;
  text-align: center;
}
.company-logo img {
  width: 48px;
  height: 48px;
}
.profile-photo {
  display: flex;
  justify-content: center;
  /* margin: 5px; */
  /* box-shadow: 1px 1px 5px rgba(255, 255, 255, 1); */
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
}
.profile-photo img {
  width: 100%;
  object-fit: fill;
  border-radius: 50%;
}
.card-container {
  gap: 5px;
  display: flex;
  flex-basis: 350px;
  flex-grow: 0.2;
  /* min-height: 200px; */
  /* flex-direction: column; */

  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
  /* border: 1px solid rgba(0, 0, 0, 0.22); */
  padding: 5px;
}

.goods-container {
  display: flex;
  flex-basis: 400px;
  flex-grow: 1;
  flex-wrap: wrap;

  /* height: 200px; */

  /* margin: 5px; */

  border-radius: 10px;

  justify-content: space-between;

  padding: 5px;
  align-items: center;
  gap: 5px;
}
.goods-img-container {
  display: flex;
  height: 100px;
  /* height: 150px; */
  flex-basis: 100px;

  overflow: hidden;
  display: flex;
  justify-content: center;

  padding: 5px;
}
.goods-img-container img {
  width: 100px;
  object-fit: contain;
  padding: 5px;
  /* aspect-ratio: 16/9; */

  border-radius: 10px;
}
.goods-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.text-content {
  display: flex;
  flex-basis: 25%;
  flex-grow: 1;
}
.pointer {
  cursor: pointer;
}
.form-containers {
  padding: 10px;

  width: 350px;
}
.order-card {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;

  flex-basis: 300px;
  flex-grow: 0.3;
  /* min-width: 250px; */
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form {
  width: 400px;
  padding: 10px;
}
.report-card {
  flex-basis: 200px;
  max-width: 250px;
  flex-grow: 0.5;
  /* height: fit-content; */
  min-height: 200px;

  border: 1px solid rgba(0, 0, 0, 0.25);
}
.report-card-list {
  height: 80px;
  /* background-color: aqua; */
}
.settings {
  width: 150px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.22);
  display: block;

  position: absolute;
  justify-content: center;
  top: 8vh;
  right: 5px;
  padding: 10px;
  height: 100px;
}
.floating {
  position: absolute;
  top: -7px;
  right: -4px;
  font-size: 12px;
  border-radius: 50%;
  padding: 0 2px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .company-logo {
    width: 40px;
    height: 40px;
  }
  .profile-photo {
    height: 30px;
    width: 30px;
  }
  .burger {
    display: flex;
  }
  .order-card {
    flex-grow: 1;
  }
  .card-container {
    flex-basis: 350px;
    flex-grow: 0.5;
    width: 100%;
    height: auto;
  }
  .form-containers {
    max-width: 400px;
  }
  /* .goods-img-container {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    height: auto;
  }
  .goods-img-container img {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    height: auto;
  } */
}
@media (max-width: 450px) {
  .login-form {
    width: 100%;
  }
}
