:root {
  --primary-color: rgb(240, 240, 240);
  --secondary-color: "yellow";
  --black: "black";
}
.bg-green {
  background: var(--primary-color);
}
.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #333;
  color: white;
}
.company-logo {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.circle {
  border-radius: 50%;
}
.circle-button {
  /* background-color: rgb(0, 85, 255); */
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  font-weight: 900;
}

.borderless {
  border: none;
  outline: none;
}
.small-input {
  width: 50px;
  text-align: center;
}
.company-logo img {
  width: 48px;
  height: 48px;
}
.profile-photo {
  display: flex;
  justify-content: center;
  margin: 5px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-photo img {
  width: 38px;
  object-fit: fill;
  border-radius: 50%;
}
.card-container {
  gap: 5px;
  display: flex;
  width: 400px;

  /* flex-direction: column; */

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.22);
  padding: 5px;
}

.goods-container {
  display: flex;
  flex-basis: 400px;
  flex-grow: 1;
  flex-wrap: wrap;

  /* height: 200px; */

  /* margin: 5px; */

  border-radius: 10px;
  justify-content: space-between;

  padding: 5px;
  align-items: center;
  gap: 5px;
}
.goods-img-container {
  display: flex;
  height: 100px;
  /* height: 150px; */
  flex-basis: 100px;

  overflow: hidden;
  display: flex;
  justify-content: center;

  padding: 5px;
}
.goods-img-container img {
  width: 100px;
  object-fit: contain;
  padding: 5px;
  /* aspect-ratio: 16/9; */

  border-radius: 10px;
}
.goods-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.text-content {
  display: flex;
  flex-basis: 25%;
  flex-grow: 1;
}
.pointer {
  cursor: pointer;
}
.form-containers {
  width: 350px;
}
@media (max-width: 650px) {
  .card-container {
    flex-basis: 400px;
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
  .form-containers {
    width: 100%;
  }
  /* .goods-img-container {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    height: auto;
  }
  .goods-img-container img {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    height: auto;
  } */
}
